.about {
    position: relative;
}

.about::before {
    position: absolute;
    content: '';
    background-image: url(/src/assets/images/fondo.png);
    background-size: 100% 100%; 
    -webkit-background-size: 100% 100%; 
    background-position: center;
    height: 100%;
    z-index: -1;
    width: 100vw;
    background-attachment: fixed;
    -webkit-background-attachment: fixed; 
    -moz-background-size: cover; 
    -o-background-size: cover;
}
