---
import '@components/css/background.css'
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:mb-32 lg:mt-0 lg:flex-row about"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-cyan-400 lg:text-4xl">Sobre mi</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-cyan-400"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			¡Hola a Todos! <br /> <br>

			Soy Mateo Francisco Laria, un entusiasta de la programación de Paraná, Entre Ríos, Argentina. <br>
			Recientemente me gradué como Técnico Universitario en Programación en la Universidad 
			Tecnológica Nacional. <br>
			 Me apasiona crear soluciones innovadoras a través del código y estoy
			emocionado por comenzar mi carrera profesional en el desarrollo de software. <br>
			 Siempre estoy buscando aprender y crecer en este campo en constante evolución. <br> <br>
			 ¡Gracias por tu interés!
		</p>
	</div>
</section>
