---
import Button from '@components/ui/Button.astro';
import Social from '@components/ui/Social.astro';
---

<section
	data-testid="contact"
	id="contact"
	class="flex flex-col items-center  gap-8 text-black dark:text-white lg:mb-0 "
>
	<h2 class="mt-6">Redes</h2>
	<hr class="w-full" />
	<div class="flex flex-box gap-8 flex-wrap justify-center lg:flex lg:flex-row lg:gap-20 lg:p-20"> 
		<Social />
	</div>
</section>
