<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Copyright © {new Date().getFullYear()}. Todos los derechos reservados. Hecho por <a
			href="https://github.com/Laria-Mateo"
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> Mateo F. Laria</span>
		</a>
		
	</p>
</footer>
