---
import heroImage from '@assets/images/hero.png';
import imagen from '@assets/images/Captura.png';
import { Image } from '@astrojs/image/components';
import Button from '@components/ui/Button.astro';

import '@components/css/background.css'

---

<section
	data-testid="hero"
	class=" flex h-screen flex-col-reverse items-center justify-center text-center lg:flex-row"
>
	<div class="mb-10 flex flex-col items-center lg:mb-0 lg:w-1/2">
		<div>
			<h1 class="mb-10 font-monospace text-3xl text-black dark:text-white lg:text-5xl">
				Hola! Mi nombre es <span class="text-cyan-400">Mateo Laria</span> y soy un Programador FullStack
			</h1>
		</div>
		<div class="mb-10">
			<a href="#about">
				<Button style={'primary'} size={'lg'} class={'flex'} name="learn more" href="#about">
					Saber mas
				</Button>
			</a>
		</div>
	</div>
	<div data-testid="hero-img" class="mb-10 flex w-1/2 items-center justify-center ">
		<Image class={'rounded-xl drop-shadow-[0px_0px_30px_rgba(0,255,255,0.25)]'} src={imagen} />
	</div>
</section>
