---
import Button from '@components/ui/Button.astro';
import SkillsIcons from '@components/ui/SkillsIcons.astro';
---

<section
	data-testid="skills"
	id="skills"
	class="flex flex-col items-center  gap-8 text-black dark:text-white lg:mb-0 "
>
	<hr class="w-1/2" />
	<div class="flex flex-col gap-8 lg:flex lg:flex-row lg:gap-20">
	<SkillsIcons />
	</div>
</section>
