---
import { Icon } from 'astro-icon';
import '../css/iconos.css'

---


<div class="icon-container">
  <a href="#" target="_blank" rel="noopener" aria-label="linkedin" class="h-8 hover:text-orange dark:hover:text-orange md:h-12">
<Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:csharp"
	/></a
>
</div>
<div class="icon-container">
<a href="#" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:dotnet"
	/></a
>
</div>
<div class="icon-container">
<a href="#" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:python"
	/></a
>
</div>
<div class="icon-container">
  <a href="#" target="_blank" rel="noopener" aria-label="linkedin" class="h-8 hover:text-orange dark:hover:text-orange md:h-12">
<Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:javascript"
	/></a
>
</div>
<div class="icon-container">
<a href="#" target="_blank" rel="noopener"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:postgresql"
	/></a
>
</div>
<div class="icon-container">
  <a href="#" target="_blank" rel="noopener" aria-label="linkedin" class="h-8 hover:text-orange dark:hover:text-orange md:h-12">
<Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:react"
	/></a
>
</div>
<div class="icon-container">
<a href="#" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:css3"
	/></a
>
</div>
<div class="icon-container">
<a href="#" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:html5"
	/></a
>
</div>
<div class="icon-container">
<a href="#" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:vuedotjs"
	/></a
>
</div>
<div class="icon-container">
<a href="#" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:vite"
	/></a
>
</div>
<div class="icon-container">
<a href="#" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:astro"
	/></a
>
</div>
<div class="icon-container">
<a href="#" target="_blank" rel="noopener" aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="simple-icons:nextdotjs"
	/></a
>
</div>


